//Cores
$corApontamento: #bd3f3f;
$corApontamentoHover: #7e1a1a;

.footer {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  height: 25vh;
  position: relative;
  border-top: 0px solid $corApontamentoHover;
}

.footer-left {
  //Container de Contactos
  width: 25%;
  height: 100%;
  margin-top: 10px;

  h3 {
    text-align: center;
    color: $corApontamentoHover;
    font-weight: 400;
    font-size: 1.5rem;
  }

  p {
    text-align: center;
    font-size: 0.9rem;
    color: black;
    font-family: "Playfair Display", serif;
    margin-top: 1px;
  }
}

.footer-center {
  //Container de Logotipo
  display: grid;
  width: 50%;
  height: 100%;

  img {
    width: 28%;
    height: auto;
    margin: 0 auto;
  }

  h6 {
    // IGNITEDBYTES
    margin: 0 auto;
    font-weight: 600;
    font-family: Playfair;
    font-size: 0.6rem;
    color: $corApontamentoHover;
  }
}

.footer-right {
  //Container de SocialMedia
  margin-top: 20px;
  float: left;
  width: 25%;
  height: 100%;

  div {
    width: fit-content;
    margin: 0 auto;

    a {
      display: inline-block;
      text-decoration: none;
      color: #5a2624;
      font-size: 1.8rem;
      margin: 0 auto;
      transition: 0.8s;
      margin-top: 50px;
      margin-right: 30px;

      &:hover {
        color: $corApontamentoHover;
      }
    }
  }

  h3 {
    margin-right: 30px;
    text-align: center;
    color: $corApontamentoHover;
    font-weight: 400;
    font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  .footer {
    display: block;
    width: 100%;
    height: 60vh;
    position: absolute; // edit
    top: 35vh; //edit
  }

  .footer-left {
    //Container de Contactos
    float: left;
    width: 100vw;
    height: auto;

    h3 {
      text-align: center;
      color: $corApontamentoHover;
      font-weight: 400;
      font-size: 1.5rem;
      margin-top: 15%;
    }

    p {
      text-align: center;
      font-size: 0.8rem;
      color: black;
      font-family: Playfair;
      margin: 10px 0 0 0;
    }
  }

  .footer-center {
    //Container de Logotipo
    float: left;
    width: 100vw;
    height: auto;

    img {
      width: 40%;
      height: auto;
      margin: 0 auto;
      margin-top: 30px;
    }

    h6 {
      // IGNITEDBYTES
      position: absolute;
      top: 90%;
      left: 37%;
      font-weight: 100;
      font-family: Playfair;
      color: black;
    }
  }

  .footer-right {
    //Container de SocialMedia
    float: left;
    width: 100vw;
    height: auto;

    div {
      width: fit-content;
      margin: 0 auto;

      a {
        display: inline-block;
        text-decoration: none;
        color: black;
        font-size: 2rem;
        margin: 0 auto;
        transition: 0.8s;
        margin: 0 15px;
        margin-top: 10px;

        &:hover {
          color: $corApontamentoHover;
        }
      }
    }

    h3 {
      margin-top: 8%;
      margin-right: 0;
      text-align: center;
      color: $corApontamentoHover;
      font-weight: 400;
      font-size: 1.5rem;
    }
  }
}
