.fotos{
    scroll-snap-align: start;
    width: 100%;
    max-height: 100vh;
    position: relative;
    float: left;
    display: flex;
    flex-wrap: wrap;
    .fotos-ajuste{
        margin-top: 20vh;
    }
    .parent{
        flex:1 1 40vw;
        float: left;
        overflow: hidden;
        margin: 5px;
        width: 48.5vw; 
        height: 38vh;   
        font-size: 2.8rem;    
        &:hover .child
         {
         transform: scale(1.2);
         } 
         .vinhos-btn{
            position: absolute;
            z-index: 2;
            top: 35%;
            left: 18%;
            color: aliceblue; 
            font-weight: 100;
        }
           .vinha-btn{
            position: absolute;
            z-index: 2;
            top: 73%;
            left: 18%;
            color: aliceblue; 
            font-weight: 100;
           }
           .eventos-btn{
            position: absolute;
            z-index: 2;
            top: 73%;
            left: 70%;
            color: aliceblue; 
            font-weight: 100;
           }
           .visitas-btn{
            position: absolute;
            z-index: 2;
            top: 35%;
            left: 70%;
            color: aliceblue; 
            font-weight: 100;
           }
        .child {
         transition: 2s;
         transform: scale(1);
         width: 100%;
         background-color: black;
         background-size: cover;
         background-position: center;
         height: 100%; 
         a{
            text-decoration: none;
         }   

        }                 
    }
    
 
}
@media (max-width: 650px){
    .fotos{
        scroll-snap-align: start;
        width: 100%;
        height: 100vh;
        position: relative;
        float: left;
        
        .fotos-ajuste{
            float: left;
            height: 83vh;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .parent{
                transform: scale(1);
                flex:1 1 40vw;
                float: left;
                overflow: hidden;
                margin: 5px;
                width: 48.5vw; 
                height: 40vh;  
                font-size: 1.5rem;    
                &:hover .child
                 {
                 transform: scale(1.2);
                 }    
                 .vinhos-btn{
                    position: absolute;
                    z-index: 2;
                    top: 50%;
                    left: 25%;
                    color: aliceblue; 
                    font-weight: 100;
                }
                   .vinha-btn{
                    position: absolute;
                    z-index: 2;
                    top: 50%;
                    left: 25%;
                    color: aliceblue; 
                    font-weight: 100;
                   }
                   .eventos-btn{
                    position: absolute;
                    z-index: 2;
                    top: 50%;
                    left: 25%;
                    color: aliceblue; 
                    font-weight: 100;
                   }
                   .visitas-btn{
                    position: absolute;
                    z-index: 2;
                    top: 50%;
                    left: 25%;
                    color: aliceblue; 
                    font-weight: 100;
                   }         
                .child {
                 transition: 2s;
                 transform: scale(1);
                 width: 100%;
                 background-color: black;
                 background-size: cover;
                 background-position: center;
                 height: 100%;    
                }   
    
                
            }

        }
        
        
     
    }
    /////////////////ajuste iphone 6
    
    // .ajustebot{
    //     position: absolute;
    //     bottom:0;
    //     left: 0;
    //     width: 100%;
    //     height: 108px;
    //     background-color: black;
        
       
    // }
}