
.imageIntro{
    display: none;
}

@media (max-width:650px){
    
    .imageIntro{
        display: inherit;
        scroll-snap-align: start;
        float: left;
        height: 100vh;
        width: 100vw;
        background-image: url("./images/intro.jpg");
        background-size: cover;
        div{
            position: absolute;
            top:50%;
            left: 0;
            min-width: 100%;    
            display: flex;    
            z-index: 1;
            img{
                height: 110px;
                margin: auto;
                
            }
        }
    }

}