//Cores
$corApontamento: #bd3f3f;
$corApontamentoHover: #7e1a1a;
$buttonBackground: rgb(83, 25, 25);
$buttonBoxShadow: rgb(83, 25, 25);

.intro {
  background-color: white;
  scroll-snap-align: start;
  background-image: url("./images/BackgroundIntro.png");
  background-size: contain;
  float: left;
  position: relative;
  width: 100%;
  height: 100vh;

  h1 {
    text-align: center;
    margin: 15% 30% 0 30%;
    color: $corApontamentoHover;
    font-size: 2.2rem;
  }
  h3 {
    text-align: center;
  }
  p {
    text-align: center;
    margin: 2% 25% 0 25%;
    font-size: 1.3rem;
  }

  div {
    margin: 0 auto;
    margin-top: 5%;
    width: fit-content;
  }

  a {
    margin-right: 50px;
    font-family: Playfair;
    text-decoration: none;
    padding: 20px;
    border: 2px solid $buttonBackground;
    color: #fff;
    background-color: $buttonBackground;
    opacity: 0.95;
    transition: 0.7s;
    box-shadow: 3px 3px 10px rgb(83, 25, 25);

    &:hover {
      background-color: transparent;
      color: $corApontamentoHover;
    }
  }

  a:nth-child(2) {
    padding: 20px 65px;
  }
}

//MOBILE ********************************************************************
@media (max-width: 650px) {
  .intro {
    scroll-snap-align: start;
    background-image: url("./images/BackgroundIntro.png");
    background-size: contain;
    float: left;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 2;

    h1 {
      margin: 10% 10% 0 10%;
      font-size: 2rem;
    }

    p {
      text-align: center;
      margin: 10% 5% 10% 5%;
      font-size: 1.5rem;
    }

    div {
      margin-top: 6rem;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
    }

    a {
      margin: 1rem;
      font-family: Playfair;
      font-size: 0.8rem;
      text-decoration: none;
      padding: 20px 13px;
      border: 2px solid rgb(109, 33, 33);
      color: #fff;
      background-color: rgb(109, 33, 33);
      transition: 0.7s;
      box-shadow: 3px 3px 10px rgb(83, 25, 25);

      &:hover {
        background-color: transparent;
        color: rgb(109, 33, 33);
      }
    }

    a:nth-child(2) {
      padding: 20px 50px;
    }
  }
  /////////////////ajuste iphone 6

  // .ajustebot{
  //     position: absolute;
  //     bottom:0;
  //     left: 0;
  //     width: 100%;
  //     height: 108px;
  //     background-color: black;

  // }
}
