.login{
    height: 100vh;
    width: 100%;
    float: left;
    h1{ margin:10% 0 3% 0;
        text-align: center;
        font-weight: 100;
        font-size: 2.2rem;
        color: $corApontamentoHover;    
    }
   li{
       margin-left:37%;
       list-style: none;
       label{
        font-family: Playball;
       }
       input{
           height: 40px;
           width: 400px;
           border: 1px solid $buttonBackground;
           
           
       }
      button{
        margin-right: 50px;
        margin-top: 10px;
        font-family: Playball;
        font-size: 1.1rem;
        text-decoration: none;
        padding: 15px 60px;
        border: 2px solid $buttonBackground;
        color: #fff;
        background-color:$buttonBackground;
        opacity: 0.95;
        transition: 0.7s;
        box-shadow: 3px 3px 10px rgb(83, 25, 25);

        &:hover {
            background-color: transparent;
            color:  $corApontamentoHover;
        }
      } 
   }
}