//Cores
$corApontamento: #531918;
$corApontamentoHover: #bd3f3f;
.mobile {
  display: none;
}
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 20%;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.5);

  .navigation {
    width: 30%;
    margin-left: 22%;
    margin-top: 4%;
    a {
      text-decoration: none;
      margin-right: 50px;
      font-family: "Playball", cursive;
      font-size: 1.5rem;
      font-weight: 100;
      color: $corApontamento;
      transition: 0.7s;
      z-index: 2;
      &:hover {
        border: 1px transparent;
        padding: 10px 5px;
        color: $corApontamentoHover;
      }
      img {
        float: left;
        height: 100%;
        margin-left: 10%;
      }
    }
  }
  .user {
    margin-top: -2%;
    float: right;
    display: flex;
    a {
      text-decoration: none;
      margin-right: 20px;
      font-family: "Playball", cursive;
      font-size: 0.9rem;
      font-weight: 100;
      color: whitesmoke;
      background-color: #531918;
      border-radius: 3px;
      transition: 0.7s;
      z-index: 2;
      &:nth-child(1) {
        padding: 6px;
      }
      &:nth-child(2) {
        padding: 6px;
      }
      &:hover {
        border: 1px transparent;
        padding: 10px 5px;
        color: $corApontamentoHover;
      }
    }
  }
  a {
    img {
      float: left;
      height: 100%;
      margin-left: 10%;
    }
  }
}

@media (max-width: 650px) {
  .mobile {
    display: inline;
  }
  .navbar {
    display: none;
  }
  .nav-mobile {
    position: absolute;
    height: 100vh;
    width: 100%;
    .nav-btn {
      position: absolute;
      top: 2%;
      left: 87%;
      background: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      color: $corApontamento;
      font-size: 35px;
      transition: 1s;
      z-index: 3;
      &:hover {
        color: $corApontamentoHover;
      }
    }
  }
  .nav-links {
    display: block;
    height: 0;
    list-style-type: none;
    overflow: hidden;
    a {
      text-align: center;
      display: block;
      text-decoration: none;
      padding: 1rem 0;
      color: white;
      font-family: "Playball", cursive;
      font-size: 1.5rem;
      font-weight: 200;
      &:hover {
        color: $corApontamentoHover;
      }
    }
  }

  .show-nav {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(32, 32, 32);
    z-index: 2;
    img {
      margin: 0 auto;
      margin: 100px 0 0 20px;
      width: 90%;
      height: auto;
    }
  }
}
