$corApontamento: #bd3f3f;
$corApontamentoHover: #7e1a1a;
$buttonBackground: rgb(83, 25, 25);

.quinta{
    min-height: 100vh;
    width: 100%;
    h1{ margin:10% 0 -3% 0;
        text-align: center;
        font-weight: 100;
        font-size: 2.2rem;
        color: $corApontamentoHover;

        
    }
    p{
        text-align: center;
        margin:5% 20%;
        font-size: 1.2rem;
    }
}